venv/
env/
.venv/

.env/

__pycache__/
*.py[cod]
*$py.class

.env
*.env
.env.local

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/paper/

.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-error.log